<h1>Dwarves & Elves</h1>

<% if logged_in? %>
  <h2>You are logged in as: <%= current_user['first_name'] %></h2>

  <section class="controls">
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
      <a href="/toons/new">Create character</a>
      <a href="/toons/edit">Edit character</a>
      <a href="/toons/delete">Delete character</a>
    </form>
  </section>
  <section class="display_character">
      <% if toons[current_user]['d_or_e'] == ''%>
        <p>no character to display</p>
      <% elsif toons[current_user]['d_or_e'] == 'dwarf'%>
        <p> Dwarf: </p>
      <% elsif toons[current_user]['d_or_e'] == 'elf'%>
        <p> Elf: </p>
      <% end %>

<% else %>
  <a href="/users/new">Sign up</a>
  <a href="/sessions/new">Login</a>
<% end %>