<h1>Dwarves & Elves</h1>

<% if logged_in? %>
  <h3>You are logged in as: <%= current_user['first_name'] %></h3>

  <section class="controls">
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
      <a href="/users/edit">Edit character</a>
    </form>
  </section>

  <section class="display_character">
      <p>Welcome, <%= current_user['d_or_e'] %>. </p>
      <p>Are you read to enter battle as a <%= current_user['profession'] %>? </p>
  </section>

  <section class="game">
      <button>Enter Battle</button>
  </section>

<% else %>
  <a href="/users/new">Sign up</a>
  <a href="/sessions/new">Login</a>
<% end %>