<h1>Add review</h1>
<form action="/review" method="POST">
  <label for="">Username:</label>
  <input type="text" name="username">

  <label for="">Contents: </label>
  <input type="text" name="contents">

  <button>Add Review</button>
</form>